body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

#game {
  width: 900px;
  margin: auto;
}

#scene {
  width: 900px;
  height: 450px;
  margin-top: 10px;
  background-image: url("assets/spritesheet.png");
  background-size: 3000px 1500px;
  background-position: 0px 0px;
}

#player {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 100px;
  bottom: 40px;
  background-image: url("assets/spritesheet.png");
  background-position: 0 -600px;
}
